[supervisord]
logfile=%(ENV_LOG_DIR)s/queue-manager.log
pidfile=%(ENV_VAR)s/pid/queue-manager.pid

[inet_http_server]
port=127.0.0.1:__QUEUECTL_PORT__
username=__QUEUECTL_USER__
password=__QUEUECTL_SECRET__

[supervisorctl]
serverurl=http://localhost:__QUEUECTL_PORT__
username=__QUEUECTL_USER__
password=__QUEUECTL_SECRET__

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:general]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_OPT)s/php/bin:%(ENV_PATH)s",BIN="%(ENV_BIN)s",DIR="%(ENV_DIR)s",ETC="%(ENV_ETC)s",OPT="%(ENV_OPT)s",TMP="%(ENV_TMP)s",VAR="%(ENV_VAR)s",SRC="%(ENV_SRC)s",LOG_DIR="%(ENV_LOG_DIR)s",APP_NAME="%(ENV_APP_NAME)s"
directory=%(ENV_SRC)s
command=php artisan queue:work
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=false
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/supervisord.log
stopwaitsecs=3
priority=1

[program:irc_operations]
process_name=%(ENV_APP_NAME)s_queue_%(program_name)s_%(process_num)02d
environment=PATH="%(ENV_OPT)s/php/bin:%(ENV_PATH)s",BIN="%(ENV_BIN)s",DIR="%(ENV_DIR)s",ETC="%(ENV_ETC)s",OPT="%(ENV_OPT)s",TMP="%(ENV_TMP)s",VAR="%(ENV_VAR)s",SRC="%(ENV_SRC)s",LOG_DIR="%(ENV_LOG_DIR)s",APP_NAME="%(ENV_APP_NAME)s"
directory=%(ENV_SRC)s
command=php artisan queue:work irc_operations --queue=irc_operations
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
numprocs=1
numprocs_start=1
redirect_stderr=false
stdout_events_enabled=true
stderr_logfile=%(ENV_LOG_DIR)s/error.log
stdout_logfile=%(ENV_LOG_DIR)s/search.log
stopwaitsecs=3
priority=2
